@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Nova+Round&family=Ubuntu+Mono&display=swap');
 
:root {
    --background-theme: #0A0A32;
    --text: #E1ECF4;
    --highlight: #84DD63;
    --highlight-bright: #BDEDAB;
    --accent2: #627264;
    --accent3: #D0C88E;
    --accent4: #9D96EE;
}

html {
    font-family: 'Lora', serif;
    background-color: var(--background-theme);
    color: var(--text);
    font-size: 22px;
}

body {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    grid-template-areas: "nav" "main" "footer";
    grid-template-rows: min-content 1fr min-content;
    grid-auto-columns: minmax(auto, 900px);
    gap: 1rem;
    margin: 15px;
}

code, pre {
    font-family: "Ubuntu Mono", monospace;
}

@media screen and (min-width: 900px) {
    body {
        margin: 0;
    }
}

p {
    line-height: 38px;
}

::selection, ::-moz-selection {
    background-color: #279034;
}

h1, h2, h3, h4, h5, h6, header {
    font-family: 'Nova Round', cursive;
    word-spacing: -0.2ch;
    margin: 0;
}

header {
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid var(--highlight);
    /* margin-bottom: 15px; */
    padding: 20px 0;
}

a, a:visited {
    color: var(--highlight);
    transition: color 0.1s linear;
}
header a {
    text-decoration: none;
}
a:hover {
    color: var(--highlight-bright);
}
a.current {
    /* padding-bottom: 0px; */
    color: var(--highlight-bright);
    border-bottom: 2px solid var(--highlight-bright);
}

.subtitle {
    font-size: 1.1em;
    font-style: italic;
}

img.preview {
    max-width: 400px;
    /* max-width: 45%; */
    max-height: 400px;
    height: auto;
    width: auto;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--highlight);
}
img.display {
    /* width: 90vw; */
    max-width: 85vw;
    max-height: 85vh;
}

.bipanel {
    
}
.bipanel > .left {
    float: left;
}
.bipanel > .right {
}
.bipanel > .right img.preview {
    max-width: 600px;
}
.bipanel + * {
    clear: left;
}

.header-link {
    font-size: 0.8em;
}

.img-gallery {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
img + p, .img-gallery + p {
    margin-top: 0;
}

#popup-bar {
    text-align: right;
    font-family: "Nova Round", consolas, monospace;
    cursor: pointer;
    font-size: 60px;
    transition: color 0.3s;
    color: var(--highlight);
}
#popup-content img {
    border: 4px solid var(--highlight);
    border-radius: 10px;
}
#popup-bar:hover {
    color: var(--highlight-bright);
}
#popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
#popup-background.hidden {
    display: none;
}