:root {
    --background-theme: #FAEFD6;
    --text: #2E2A23;
    --highlight: #71223D;
    --highlight-bright: #C9547D;
    --accent2: #9F7AA2;
    --accent2-light: #CCBACE;
    --accent3: #D78D8F;
    --accent4: #96CEB6;
    --text-highlight: #E97BA5;
}
