@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
    --dark-background: #111;
    --overall-background: #222;
    --overall-background-light: #555;
    --content-background: #333;
    
    --text-color: #fff;
    --link-color: #0090a3;
    --link-highlight: #00bcd4;
    --link-darken: #007f8b;
    
    --field-color: #555;
    --field-color-light: #777;
    --field-readonly-color: #333;
    --field-readonly-color-light: #555;
    
    --danger-cancel-color: #a22;
    --danger-cancel-darken-color: #722;
}

body, html, nav ul, h1 {
	margin: 0;
	padding: 0;
}

nav, nav ul, .input-holder {
	display: flex;
}
.input-holder {
    flex-direction: column;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    max-width: 500px;
}
.input-holder > * {
    /* display: block; */
}

footer, header {
	text-align: center;
	background-color: var(--overall-background);
	padding: 5px;
}
header {
    padding-top: 15px;
}

footer, header, nav {
	background-color: var(--overall-background);
}

button, body, h1, h2, h3, html, nav a, nav a:hover, nav a:visited {
	color: var(--text-color);
}

a, a:visited {
    color: var(--link-color);
}

code, a:hover {
	color: var(--link-highlight);
}

body, html {
	background-color: var(--dark-background);
}

body, html, input, textarea, button {
    font-family: "Open Sans", Arial, sans-serif;
}

nav {
	justify-content: center;
    /* padding: 16px 0; */
}

nav ul {
	list-style-type: none;
}

nav li {
	padding: 16px 0;
    background: var(--overall-background);
}

nav a {
	padding: 16px;
    cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
    background: var(--overall-background-light);
}

.container {
	padding: 20px;
	max-width: 1200px;
	margin: 20px auto;
	background-color: var(--content-background);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.container.thin {
    max-width: 600px;
}

.button-row {
    display: flex;
    flex-direction: row;
}
.button-row button {
    flex: 1;
    margin: 5px;
}

.centerer {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}
.centerer h1, .centerer h2, .centerer h3 {
    text-align: center;
}

button {
	background-color: var(--link-highlight);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .3s;
}

button:hover {
	background-color: var(--link-darken);
}

button.danger {
    background: var(--danger-cancel-color);
}
button.danger:hover {
    background: var(--danger-cancel-darken-color);
}

p {
	line-height: 1.5;
}

code {
	background-color: #444;
	padding: 2px 5px;
	border-radius: 3px;
}


table {
    /* width: 100%; */
    border-collapse: collapse;
}

tr {
    vertical-align: middle;
}

td {
    padding: 10px;
}
td:first-child {
    text-align: right;
}
td:last-child {
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    background-color: var(--field-color);
    border: 3px solid var(--field-color-light);
    color: var(--text-color);
    padding: 3px;
    border-radius: 5px;
    /* width: 100%; */
    transition: border-color 0.3s, background-color 0.3s;
}
input.short {
    width: 10ch;
}
input.medium {
    width: 15ch;
}
input.wide {
    width: 20ch;
}
input.center {
    text-align: center;
}
input[readonly] {
    background-color: var(--field-readonly-color);
    border-color: var(--field-readonly-color-light);
}

@media (max-width:768px) {
	.container {
		padding: 10px;
	}
}

/* popup related */
.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--content-background);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--overall-background-light);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.popup-title {
    font-size: 18px;
    font-weight: bold;
}

.popup-content {
    font-size: 16px;
}
